# Module Dependencies
/node_modules

----------------------
# JSON
package-lock.json

----------------------
# Environment Variables
/nodemon.json

----------------------
# Heroku deployment file
# Procfile

----------------------
# Firebase admin config
# firebase_config.json